<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Clinician App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body> 
    <header> 
    </header> 

    <main> 

        {{{body}}} 

    </main> 

    <!-- Footer with copyright claim to the product -->
    <footer> 
        <h6> © 2022 DexTrack, all rights reserved</h6> 
    </footer>

<script>
// Script for accordion
var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.display === "block") {
      panel.style.display = "none";

    } else {
      panel.style.display = "block";
    }
  });
}

</script>

</body>

</html>
