<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<<<<<<< HEAD
<<<<<<< HEAD
<title>Library App</title>
=======
<title>DexTrack</title>
>>>>>>> ecfd7a40401f8f5a7bc3089d6a57c439b6ea339c
=======
<title>DexTrack</title>
>>>>>>> ecfd7a40401f8f5a7bc3089d6a57c439b6ea339c
</head>
<body>
    <header>
        <p>This HTML is coming from main.hbs</p>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
<<<<<<< HEAD
<<<<<<< HEAD
        <p>This app was created during tutorial 6.</p>
=======
        <p>This app does something.</p>
>>>>>>> ecfd7a40401f8f5a7bc3089d6a57c439b6ea339c
=======
        <p>This app does something.</p>
>>>>>>> ecfd7a40401f8f5a7bc3089d6a57c439b6ea339c
    </footer>
</body>
</html>
