<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Clinician App</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body> 
    <header> 

        <!-- Navigation bar at top of webpage -->
        <div class="navbar">
            <div class="dropdown">
                <button class="dropbtn">Dr. Alice Brown <img src="/chevron-down.png"></button>
                <div class="dropdown-content">
                    <a href="#">Sign out</a>
                </div>
            </div>
            <div class="icons">
                <a href="#"><img src="/house-solid.svg" width="28" height="28" class="change-color"></a>
                <a href="#"><img src="/circle-half-stroke-solid.svg" width="28" height="28" class="change-color"></a>
                <a><img src="/Line.png" height="28"></i></a>
                <a href="#"><img src="/circle-user-regular.svg" width="28" height="28" class="change-color"></a>
            </div>
        </div>
    </header> 

    <main> 

        {{{body}}} 

    </main> 

    <!-- Footer with copyright claim to the product -->
    <footer> 
        <h6> © 2022 DexTrack, all rights reserved</h6> 
    </footer>
</body>
<script src="/public/script.js"></script>
</html>
