<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/styles.css">
<title>DexTrack</title>
</head>
<body>
    <header>
        <p>Property of DexTrack Company</p>
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        <p>This app is still under development.</p>
    </footer>
</body>
</html>
