<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Clinician App</title>
    <link rel="stylesheet" id="stylesheet" href="/css/stylesClinician.css">
</head>
<body> 
    <header> 
    </header> 

    <main> 

        {{{body}}} 

    </main> 

    <!-- Footer with copyright claim to the product -->
    <footer> 
        <h6> © 2022 DexTrack, all rights reserved</h6> 
    </footer>

</body>
<script src="/javascript/accordion.js"></script>
<script src="/javascript/splash.js"></script>
<script src="/javascript/theme.js"></script>
<script src="/javascript/modal.js"></script>
<script src="/javascript/modalMulti.js"></script>
</html>
