<!DOCTYPE html>

<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/stylesPatient.css">
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <html lang="en">
    <title>dextrack</title>
    <!-- main layout for patient UI -->

    <script src="/javascript/menu.js"></script>

</head>


<div class = "container">

    <main class = "main"> 
        {{{body}}} 
    </main> 

    <label onclick="openNav()" for="toggle">&#9776;</label> 

    <div id = "myNav" class = "sidebar">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        
        <!-- Side Navigation Bar -->
        
        <div class="menu">
            <a href="/patient/profile">
                <p>Profile</p>
            </a>
            <a href="/patient/dashboard">
                <p>Home</p>
            </a>
            <a href="/patient/log">
                <p>Patient Log</p>
            </a>
            <a href="/patient/leaderboard">
                <p>Leaderboard</p>
            </a>
            <a href="/about-diabetes">
                <p>About Diabetes</p>
            </a>
            <a href="/about-dextrack">
                <p>About DexTrack</p>
            </a>

            <a href="/patient/change-password">
                <p>Update password</p>
            </a>

            <a href="/about-dextrack"><img id="logo" src="/logo.png" align="center"></a>
        </div>
    </div>
</div>
 
</html>