<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/stylesPatient.css">
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <link rel="icon" href="/dextrackIcon.png">
    <html lang="en">
    <title>DexTrack</title>
    <!-- main layout for patient UI -->
    <script src="/javascript/splash.js" defer></script>
    <script src="/javascript/menu.js" defer></script>
    <script src="/javascript/patientTheme.js" defer></script>
    <script src="/javascript/engagement.js" defer></script>
    <script src="/javascript/modal.js" defer></script>

</head>

<body>
<div class = "container">

    <main class = "main"> 
        {{{body}}} 
    </main> 

    <label onclick="openNav()" for="toggle">&#9776;</label> 

    <div id = "myNav" class = "sidebar">

        <!-- Button to close the overlay navigation -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        

        <!-- Side Navigation Bar -->
        
        <div class="menu">
            <a onclick="toggleDark()"><img src="/circle-half-stroke-solid.svg" id="themeToggle" class=""></a>
            <a href="/patient/profile">
                <p>Profile</p>
            </a>
            <a href="/patient/dashboard">
                <p>Dashboard</p>
            </a>
            <a href="/patient/log">
                <p>Patient Log</p>
            </a>
            <a href="/patient/leaderboard">
                <p>Leaderboard</p>
            </a>
            <a href="/about-diabetes">
                <p>About Diabetes</p>
            </a>
            <a href="/about-dextrack">
                <p>About DexTrack</p>
            </a>

            <a href="/patient/change-password">
                <p>Update password</p>
            </a>

            <a>
             <form action="/patient/logout" method="POST">
                    <button>Sign Out</button>
                </form>
            </a>

            <a href="/about-dextrack"><img id="logo" src="/logo.png" align="center"></a>
        </div>
    </div>
</div>

</body>

