<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <title>About DexTrack</title>
        <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
        <link href="/css/stylesStatic.css" rel="stylesheet">

    </head>

    <body>
    
            <button id="top_button" onClick="scrollToTop()" title="Go to top">^</button> 
  

        <div class="sections">

            <!-- Navigation bar at top of webpage -->
            <header>
                <nav class="nav_bar">
                    <a href="/about-dextrack"><img id="logo" src="/logo.png"></a>
                    <ul class="nav_pages">
                        <li class="nav_item"> 
                            <a href="/about-dextrack" class="nav_link">About DexTrack</a>
                        </li>
                        <li class="nav_item">
                            <a href="/about-diabetes" class="nav_link">About Diabetes</a>
                        </li>
                        <li class="nav_item">
                            <a onclick="toggleDark()"><img src="/circle-half-stroke-solid.svg" id="themeToggle" class="nav_link"></a>
                        </li>
                        {{#if (isPatient logged role)}}
                            <li class="nav_item">
                                <a href="/patient/dashboard" class="nav_link"><button>Dashboard</button></a>
                            </li>
                            <form action="/patient/logout" method="POST">
                                <li class="nav_item"><button>Sign Out</button> </li>
                            </form>
                        {{else}} {{#if (isClinician logged role)}}
                            <li class="nav_item">
                                <a href="/clinician/dashboard" class="nav_link"><button>Dashboard</button></a>
                            </li>
                            <form action="/clinician/logout" method="POST">
                                <li class="nav_item"><button>Sign Out</button> </li>
                            </form>
                        {{else}}
                            <li class="nav_item"><a href="/" class="nav_link"><button>Sign In</button></a></li>
                            
                        {{/if}}
                        {{/if}}

                    </ul>
                    <div class="menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </nav>
            </header>


            <!-- Each section corresponds to each segment of information in the webpage -->
            <section class="info">
                <div class="about_info">
                    <div class="info_text">
                        <h2>About DexTrack</h2>
                        <h3>Redefining how diabetes care is measured and delivered.</h3>
                        <p>At DexTrack, we enable the management of your diabetes in the convenience of your own home and help replace manual, inefficient processes with digitally-enabled care pathways. </p>
                        <button onClick="scrollReadMore2()">Find Out More</button>
                    </div>
                    <div class="info_vector">
                        <img id="aboutImage" src="/vector1.png" >
                    </div>
                </div>
            </section>

            <section class="products">
                <h1 class="labels">Our Products</h1>
                <div class="about_products">
                    <div class="product_vector">
                        <img src="/vector2.png">
                    </div>
                    <div class="product_text">
                        <p>We help healthcare organisations digitally transform their care delivery by replacing manual, costly processes with automated and streamlined digital care pathways. Digital care pathways monitor, support and engage patients along their entire care journey, improving convenience and health outcomes while reducing waste and administritative burden.</p>
                        
                        {{#if (isPatient logged role)}}
                        <a href="/patient/dashboard"><button>Return to Dashboard!</button></a>
                        {{else}} {{#if (isClinician logged role)}}
                        <a href="/clinician/dashboard"><button>Return to Dashboard!</button></a>
                        {{else}}
                        <a href="/"><button>Sign in to Access Features</button></a>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
            </section>

            <!-- Profiles segment are arranged in 2 rows, each profile has is its own <li> -->
            <section class="profiles">
                <h1 class="labels">Meet the Team</h1>
                <div class="about_profiles">
                    <h3>At DexTrack, we've got a well seasoned team at the helm.</h3>
                    <ul class="profile_cards">
                        <li>
                            <img src="/profile1.jpg">
                            <h4>Aaron</h4>
                            <h4>Johannes</h4>
                            <p>Front-end Designer</p>
                        </li>
                        <li>
                            <img src="/profile2.jpg">
                            <h4>Khadiza</h4>
                            <h4>Refry</h4>
                            <p>Front-end Designer</p>
                        </li>
                    </ul>
                    <ul class="profile_cards">
                        <li>
                            <img src="/profile3.jpg">
                            <h4>Leoni</h4>
                            <h4>Angela</h4>
                            <p>Back-end Developer</p>
                        </li>
                        <li>
                            <img src="/profile4.jpg">
                            <h4>Nadya</h4>
                            <h4>Aureilia</h4>
                            <p>Back-end Developer</p>
                        </li>
                        <li>
                            <img src="/profile5.jpg">
                            <h4>Vincent</h4>
                            <h4>Kurniawan</h4>
                            <p>Back-end Developer</p>
                        </li>
                    </ul>
                </div>
            </section>
            
             <!-- Footer with copyright claim to the product -->
            <footer>
                <h4>© 2022 DexTrack, all rights reserved</h4>
            </footer>
        </div>
        
    </body>
    <script src="/javascript/script.js"></script>
    <script src="/javascript/menu.js"></script>
    <script src="/javascript/theme.js"></script>
</html>