<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Diabetes</title>
        <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href="/css/style.css" rel="stylesheet">
    </head>

    <body>
        <!-- Scroll to top of page function -->
        <button onClick="scrollToTop()" id="top_button" title="Go to top">^</button>

        <div class="base">

            <!-- Navigation bar at top of webpage -->
            <header>
                <nav class="nav_bar">
                    <img id="blob1" src ="blob1.png">
                    <a href="aboutDextrack.html"><img id="logo" src="logo.png"></a>
                    <ul class="nav_pages">
                        <li><a href="aboutDextrack.html">About DexTrack</a></li>
                        <li><a href="aboutDiabetes.html">About Diabetes</a></li>
                        <li><a href="#"><button>Sign In</button></a></li>
                    </ul>
                    <div class="menu1">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </nav>
            </header>

            <!-- Each section corresponds to each segment of information in the webpage 
                 Information segments are divided into 2 parts: resource and text info 
                 Multiple class names in the div allows specific cosmetics to each section -->
            <section class="titlepage">
                <div class="content content_1 content_right">
                    <div class="video_content">
                        <video autoplay muted loop>
                            <source src="Intro_Video.mp4" type="video/mp4">
                        </video>
                    </div>
                    <div class="texttitle">
                        <h1 class="titlestart">About Diabetes</h1>
                        <h2 class="subtitle">Diabetes is a serious complex condition which can affect the entire body</h2>
                        <p>Diabetes requires daily self care and if complications develop, diabetes can have a significant on quality of life and can reduce expectancy.
                            There are different types of diabetes; Type 1, Type2, and Gestational Diabetes.</p>
                        <button onClick="scrollReadMore1()" title="Read More">Read More</button>
                    </div>
                </div>
            </section>

            <section class="what_diabetes">
                <div class="content content_2 content_left">
                    <div class="texttitle">
                        <h2 class="subtitle">ABOUT DIABETES</h2>
                        <h1 class="titlestart">What is Diabetes?</h1>
                        <p>When someone has diabetes, their body can't mantain healthy levels of glucose in the blood.
                            Glucose is a form of sugar which is the main source of energy for our bodies. Unhealthy levels 
                             of glucose in the blood can lead to long term and short term health complications.</p>
                        <a href="https://www.diabetesaustralia.com.au/about-diabetes/what-is-diabetes/" target="_blank"><button>Click to Learn More</button></a>
                    </div>
                    <div class="image_content">
                        <img src="vector3.png">
                    </div>
                </div>
            </section>

            <section class="content_diabetes diabetes1">
                <div class="content content_bg content_right">
                    <div class="image_content">
                        <img src="vector4.png">
                    </div>
                    <div class="texttitle text_bg">
                        <h2 class="subtitle">ABOUT DIABETES</h2>
                        <h1 class="titlestart">Type 1 Diabetes</h1>
                        <p>Type 1 diabetes is an autoimmune condition in which the immune system is activated 
                            to destroy the cells in the pancreas which produce insulin. We do not know what 
                            causes this autoimmune reaction. Type 1 diabetes is not linked to modifiable lifestyle
                             factors. There is no cure and it cannot be prevented.</p>
                        <a href="https://www.diabetesaustralia.com.au/about-diabetes/type-1-diabetes/" target="_blank"><button>Click to Learn More</button></a>
                    </div>
                </div>
            </section>

            <section class="content_diabetes diabetes2">
                <div class="content content_bg content_left">
                    <div class="texttitle text_bg">
                        <h2 class="subtitle">ABOUT DIABETES</h2>
                        <h1 class="titlestart">Type 2 Diabetes</h1>
                        <p>Type 2 diabetes is a condition in which the body becomes resistant to the normal effects 
                            of insulin and gradually loses the capacity to produce enough insulin in the pancreas.
                             The condition has strong genetic and family-related (non-modifiable) risk factors and 
                             is also often associated with modifiable lifestyle risk factors.</p>
                        <a href="https://www.diabetesaustralia.com.au/about-diabetes/type-2-diabetes/" target="_blank"><button>Click to Learn More</button></a>
                    </div>
                    <div class="image_content">
                        <img src="vector5.png">
                    </div>
                </div>
            </section>

            <section class="content_diabetes gestational_diabetes">
                <div class="content content_bg content_right">
                    <div class="image_content">
                        <img src="vector6.png">
                    </div>
                    <div class="texttitle text_bg">
                        <h2 class="subtitle">ABOUT DIABETES</h2>
                        <h1 class="titlestart">Gestational Diabetes</h1>
                        <p>Gestational diabetes mellitus (sometimes referred to as GDM) is a form of diabetes that 
                            occurs during pregnancy. Most women will no longer have diabetes after the baby is born. 
                            However, some women will continue to have high blood glucose levels after delivery. It is 
                            diagnosed when higher than normal blood glucose levels first appear during pregnancy.</p>
                        <a href="https://www.diabetesaustralia.com.au/about-diabetes/gestational-diabetes/" target="_blank"><button>Click to Learn More</button></a>
                    </div>
                </div>
            </section>

            <section class="myths_facts">
                 <div class="content content_6 content_left">
                    <div class="texttitle">
                        <h2 class="subtitle">ABOUT DIABETES</h2>
                        <h1 class="titlestart">Myths & Facts</h1>
                        <p>There are many myths about diabetes which can make separating fact from fiction 
                            difficult. To cut through the confusion, we’ve broken down some of the common misconceptions:</p>
                        <a href="https://www.diabetesaustralia.com.au/about-diabetes/myths-facts/" target="_blank"><button>Click to Learn More</button></a>
                    </div>
                    <div class="video_content">
                        <iframe src="https://www.youtube.com/embed/MzzVr0tbLck" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </div>
                </div>
            </section>
            
            <!-- Footer with copyright claim to the product -->
            <footer>
                <h4>© 2022 DexTrack, all rights reserved</h4>
            </footer>
        </div>
    </body>
    <script src="script.js"></script>
</html>