<h1>List of all DexTrack clinicians</h1>
<h2>Please select your name</h2>

<ul>
{{!-- loops over the data set --}}
{{#each data}}
    <li><a href="clinician/{{this._id}}">{{this.first_name}} {{this.last_name}}</a></li>
{{/each}}
</ul>

 
<form action="clinician" method="POST">
    <input type="text" placeholder="First name" name="first_name" />
    <input type="text" placeholder="Last name" name="last_name" />
    <input type="submit" />
</form> 

