<h1>Displaying all data</h1>

<button onclick="location.href='/patient/register'" type="button">Register Patient</button>
         
<ul>
{{!-- loops over the data set --}}
{{#each data}}
    <li><a href="/patient/{{this._id}}">{{this.givenName}} {{this.familyName}} {{this.screenName}}</a></li>
{{/each}}
</ul>
