<h1>Displaying all data</h1>
<ul>
{{!-- loops over the data set --}}
{{#each data}}
    <li><a href="/patient/{{this._id}}">{{this.givenName}} {{this.familyName}} {{this.screenName}}</a></li>
{{/each}}
</ul>

<form action="/patient" method="POST">
    <input type="text" placeholder="Given name" name="givenName" />
    <input type="text" placeholder="Family name" name="familyName" />
    <input type="text" placeholder="Screen name" name="screenName" />
    <input type="submit" />
</form>
