<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <title>Update Password</title>
    <link rel="stylesheet" href="/css/stylesSignIn.css">
    <script src="/javascript/menu.js" defer></script>
<script src="/javascript/modal.js" defer></script>
</head>



<body class="setPassword">

    <!-- Navigation bar at top of webpage -->
            <header>
                <nav class="nav_bar">
                    <a href="/about-dextrack"><img id="logo" src="/logo.png"></a>
                    <ul class="nav_pages">
                        <li class="nav_item"> 
                            <a href="/about-dextrack" class="nav_link">About DexTrack</a>
                        </li>
                        <li class="nav_item">
                            <a href="/about-diabetes" class="nav_link">About Diabetes</a>
                        </li>
                         <li class="nav_item">
                            <a href="/patient/dashboard" class="nav_link"><button>Dashboard</button></a>
                        </li>
                        <li class="nav_item">
                            <a href="/clinician/logout" class="nav_link"><button>Sign Out</button></a>
                        </li>
                    </ul>
                    <div class="menu">
                        <span class="bar"></span>
                        <span class="bar"></span>
                        <span class="bar"></span>
                    </div>
                </nav>
            </header>

    <main>
        <img src="/clouds-02.png" class="cloud-bg">
        <section class="sign-in">
        <h4>Set New Password</h4>
        <br><br>
            <div class="row">
                <div class="container">
                    
                        <div class="col-50">
                            <div class="passwords">
                                <label for="passwords">Password</label>
                                <form action="/clinician/change-password" method="POST" name="form">
                                    <textarea type="password" class="req-fill" placeholder="New Password" name="password" required/></textarea>
                                    <input type="submit" value="Submit!" class="submit-btn" onclick="openPopup()"></input>
                                    <div class="popup-bg" id="popup-bg">
                                        <div class="popup" id="popup">
                                            <img src="/Loading-dots.gif">
                                            <h3>Processing...</h3>
                                            <p>Press the button to begin data review.</p>
                                            <button class="orange-button" id="ok-button" onclick="closePopup()">Review</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </section>
    </main> 
    <div class="alert">
    {{#each flash}}
        <div class="alertBox">
            <li>{{this.msg}}</li>
        </div>
    {{/each}}
</div>
</body>


