<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="sign-in-styles.css">
</head>
<body>
    <main>
        <section class="sign-in">
        <h4>A link will be sent</h4>
        <h4>to your email.</h4>
        <br><br>
            <div class="row">
                <div class="container">
                    <form action="/home/clinician/signin" method="POST">

                    <div class="col-50">
                        <div class="email-user">
                            <label for="emailUser">Email</label>
                            <input type="text" placeholder="Email" name="emailUser"/>
                        </div>
                    </div>
                    <input href="#" type="submit" value="Reset" class="submit-btn">
                    <input href="#" type="submit" value="Cancel" class="cancel-btn">
                    </form>
                </div>
            </div>
        </section>
    </main> 
</body>
</html>