{{!< main}}
<h1>Welcome to Dextrack!</h1>
<p>Please Select User Type</p>
{{!-- for testing --}}
<button onclick="location.href='/patient/login'" type="button">Enter as Patient</button>
<button onclick="location.href='/clinician'" type="button">Enter as Clinician</button>




