<h1>Welcome to Dextrack!</h1>
<p>Please Select User Type</p>

<button onclick="location.href='/patient'" type="button">Enter as Patient</button>
<button onclick="location.href='/clinician'" type="button">Enter as Clinician</button>




