{{#with oneItem}}
<div class = "inputDataContainer">
    <div class ="symbol"> 
        <img id="glucose" src="/Glucose Level.png" align="center">
        <h2 id = "glucoselevel">GLUCOSE LEVEL</h2>
    </div>

    <div class ="inputDataItems"> 

        <form method="POST">
            <h2>Blood Glucose Level</h2>
            <input type="text" id="inputGlucoseLevel" placeholder="Enter data" name="data_entry"></input>
            <h2>Notes</h2>
            <input type="text" id="inputGlucoseNotes" placeholder="Comment" name="data_comment"></input>
            <input type="hidden" name="data_type" value="glucose" /> 
            <input type="submit" id="doneButton" value="Done"></input> 
        </form>
        
    </div>
</div>
{{/with}}
