{{!< patientLayout}}
{{#each flash}}
<p class="alert">{{this.msg}}</p>
{{/each}}
{{! displays weight submission page for a patient}}
{{#with patient}}
<div class = "inputDataContainer">
    <div class ="symbol"> 
        <img id="element" src="/Weight.png">
        <h2 id = "title">WEIGHT</h2>
    </div>

    <div class ="inputDataItems"> 

        <form method="POST">
            <h2 id="labelData">Weight (kg)</h2>
            <input type="text" id="inputData" placeholder="Enter weight..." name="data_entry"></input>
            <h2 id="labelNotes">Notes</h2>
            <input type="text" id="inputNotes" placeholder="Enter comment..." name="data_comment"></input>
            <input type="hidden" name="data_type" value="weight" /> 
             <input type="hidden" name="data_hex" value="#6F62D0" /> 
            <input type="submit" id="doneButton" value="Click to Submit!"></input> 
        </form>
        
    </div>
</div>
{{/with}}

