<h1>Displaying insert steps page</h1>
<form method="POST">
    <input type="text" placeholder="Enter data" name="data_entry" />
    <input type="text" placeholder="Comment" name="data_comment" />
    <input type="hidden" name="data_type" value="steps" /> 
    <input type="submit" />
</form>
