{{!< patientLayout}}
{{#each flash}}
    <p class="alert">{{this.msg}} </p>
    {{/each}}
{{! displays glucose submission page for a patient}}
{{#with patient}}
<div class = "inputDataContainer">
    <div class ="symbol"> 
        <img id="element" src="/Glucose_Level.png">
        <h2 id = "title">BLOOD GLUCOSE LEVEL</h2>
    </div>

    <div class ="inputDataItems"> 

        <form method="POST">
            <h2 id="labelData">Blood Glucose Level (nmol/L)</h2> 
            <input type="text" id="inputData" placeholder="Enter glucose level..." name="data_entry" required></input>
            <h2 id="labelNotes">Notes</h2>
            <input type="text" id="inputNotes" placeholder="Enter comment..." name="data_comment"></input>
            <input type="hidden" name="data_type" value="glucose" /> 
            <input type="hidden" name="data_hex" value="#E13D45" /> 
            <input type="submit" id="doneButton" value="Click to Submit!"></input> 
        </form>
        
    </div>
    
</div>
{{/with}}





