{{!< patientLayout}}

{{! displays glucose submission page for a patient}}
{{#with patient}}
<div class = "inputDataContainer">
    <div class ="symbol"> 
        <img id="element" src="/Glucose_Level.png">
        <h2 id = "title">BLOOD GLUCOSE LEVEL</h2>
    </div>

    <div class ="inputDataItems"> 

        <form method="POST" name="form">
            <h2 id="labelData">Blood Glucose Level (mmol/L)</h2> 
            <textarea type="text" class = "req-fill" id="inputData" placeholder="Enter glucose level..." name="data_entry" required></textarea>
            <h2 id="labelNotes">Notes</h2>
            <textarea type="text" id="inputNotes" placeholder="Enter comment..." name="data_comment"></textarea>
            <input type="hidden" name="data_type" value="glucose" /> 
            <input type="hidden" name="data_hex" value="#E13D45" /> 
            <input type="submit" id="doneButton" value="Click to Submit!" onclick="openPopup()"></input> 
            <div class="popup-bg" id="popup-bg">
                <div class="popup" id="popup">
                    <img src="/Loading-dots.gif">
                    <h3>Processing...</h3>
                    <p>Press the button to begin data review.</p>
                    <button class="orange-button" id="ok-button" onclick="closePopup()">Review</button>
                </div>
            </div>
        </form>
        
    </div>
    
</div>
{{/with}}

<div class="alert">
    {{#each flash}}
        <div class="alertBox">
            <li>{{this.msg}}</li>
        </div>
    {{/each}}
</div>



