<h1>Displaying insert insulin page</h1>
{{#with oneItem}}
<form method="POST">
    <input type="text" placeholder="Enter data" name="data_entry" />
    <input type="text" placeholder="Comment" name="data_comment" />
    <input type="hidden" name="data_type" value="insulin" /> 
    <input type="submit"/>
</form>
{{/with}}
