<!-- Navigation bar at top of webpage -->
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Dr. Alice Brown <img src="/chevron-down.png"></button>
        <div class="dropdown-content">
            <a href="#">Patient comments</a>
            <a href="#">Sign out</a>
        </div>
    </div>
    <div class="icons">
        <a href="#"><img src="/house-solid.svg" width="28" height="28" class="change-color"></a>
        <a href="#"><img src="/circle-half-stroke-solid.svg" width="28" height="28" class="change-color"></a>
        <a><img src="/Line.png" height="28"></a>
        <a href="#"><img src="/circle-user-regular.svg" width="28" height="28" class="change-color"></a>
    </div>
</div>


<ul class="breadcrumb">
  <li><a href="#">Patient list</a></li>
  <li><a href="#">Ana Sergawa</a></li>
  <li>Send message</li>
</ul>

<div class="sections">
    
     <!-- Each section corresponds to each segment of the patient information in the webpage -->
    <section class="segment" id="message">
        <h3>Message to Patient</h3>
            <div class="prev-msg"><strong>Previous message:<br></strong>Keep up the spirit!</div>
            <textarea type="text" placeholder="New message here." rows="5"></textarea>
            <button class="orange-button" id="send"><a href="#"  style="color: white; text-decoration: none;">Send</a></button>
     </section>

</div>