<ul class="breadcrumb">
  <li><a href="#">Patient list</a></li>
  <li>Patient comments</li>
</ul>

<div class="sections">

    <!-- Each section corresponds to each segment of the patient information in the webpage -->
    <section class="patientComments">
        <h4>Patient comments</h4>
        <div class="comments">
            <div class="sticky-bar"></div>
            <div class="cntr">
                <div class="entry">
                    <div class="row">
                        <div class="data"><span class="attribute">Date/Time</span><br><strong>20 March, 11am</strong></div>
                        <div class="data"><span class="attribute">Patient</span><br><strong>Ana Sergawa</strong></div>
                        <div class="data"><span class="attribute">Comment</span><br><strong>I feel bloated. </strong></div>
                        <a href="#"><img src="/chevron-down-solid.svg" height="30px"></a>
                    </div>
                </div>
                <div class="entry">
                    <div class="row">
                        <div class="data"><span class="attribute">Date/Time</span><br><strong>20 March, 11am</strong></div>
                        <div class="data"><span class="attribute">Patient</span><br><strong>Ana Sergawa</strong></div>
                        <div class="data"><span class="attribute">Comment</span><br><strong>I feel bloated.</strong></div>
                        <a href="#"><img src="/chevron-down-solid.svg" height="30px"></a>
                    </div>
                </div>
                <div class="entry">
                    <div class="row">
                        <div class="data"><span class="attribute">Date/Time</span><br><strong>20 March, 11am</strong></div>
                        <div class="data"><span class="attribute">Patient</span><br><strong>Ana Sergawa</strong></div>
                        <div class="data"><span class="attribute">Comment</span><br><strong>I feel bloated.</strong></div>
                        <a href="#"><img src="/chevron-down-solid.svg" height="30px"></a>
                    </div>
                </div>
                <div class="entry">
                    <div class="row">
                        <div class="data"><span class="attribute">Date/Time</span><br><strong>20 March, 11am</strong></div>
                        <div class="data"><span class="attribute">Patient</span><br><strong>Ana Sergawa</strong></div>
                        <div class="data"><span class="attribute">Comment</span><br><strong>I feel bloated.</strong></div>
                        <a href="#"><img src="/chevron-down-solid.svg" height="30px"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>