 <input type="text" placeholder="Address" name="address" style="Width:300px"/>
    <input type="date" placeholder="Date of Birth" name="dob" />
    <input type="text" placeholder="Email address" name="email" />
    <input type="text" placeholder="Screen name" name="screenName" />
    <div><input type="text" placeholder="User bio" name="shortBio" style="Width:500px; Height:100px" /></div>