{{!< main}}
<h2>Register a New Patient</h2>

<!-- Form to register new patient, accessed by clinician UI -->


<form action="/clinician/registerPatient" method="POST">

<h3>Create an account</h3>

    <input type="text" placeholder="Given name" name="first_name" style="Width:200px" />
    <input type="text" placeholder="Family name" name="last_name"  style="Width:200px" />
    <br><br>
    <input type="text" placeholder="Email address" name="email" style="Width:300px"/>

<h3>Personal Details</h3>

    <select>
        <option>Female</option>
      <option>Male</option>
      <option>Prefer not to say</option>
    </select>
    <input type="date" placeholder="Date of Birth" name="dob" />
    <input type="text" placeholder="Phone number" name="phone" />
    <br><br>
    <input type="text" placeholder="Occupation" name="occupation" style="Width:200px" />
    <input type="text" placeholder="Address" name="address" style="Width:300px"/>
    <input type="text" placeholder="Postcode" name="postcode" />

    <input type="hidden" name="username"/>
    <input type="hidden" name="password" value="info35"/>

    <input type="submit" />

</form>

{{#each flash}}
<p class="alert">{{this.msg}}</p>
{{/each}}
