{{! This is the login page. }}

<h1>Patient Login Page</h1>

<p>Looks like you haven't logged in yet. We take privacy seriously, so the Home page is only visible to logged-in users!</p>

<form action="login" method="post">
    <div>
        <label for="username">Username</label>
        <input id="username" name="username" type="text" autocomplete="username" required autofocus/>
    </div>
    <div>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" autocomplete="password" required />
    </div>
    <div>
        <button type="submit" value="submit">Log In</button>
    </div>
</form>

{{#each flash}}
<p class="alert">{{this}}</p>
{{/each}}