<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="sign-in-styles.css">
</head>
<body>
    <header> 
        <!-- Navigation bar at top of webpage -->
        <nav class="nav_bar">
            <img id="blob1" src ="rsc/blob1.png">
            <a href="About DexTrack.html"><img id="logo" src="rsc/logo.png"></a>
            <ul class="nav_pages">
                <li><a href="About DexTrack.html">About DexTrack</a></li>
                <li><a href="About Diabetes.html">About Diabetes</a></li>
                <li><a href="#"><button>Sign In</button></a></li>
            </ul>
            <div class="menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>   

    <main>
        <section class="sign-in">
        <h4>Sign in</h2>
        <br><br>
            <div class="row">
                <div class="container">
                    <form action="/home/clinician/signin" method="POST">

                    <div class="col-50">
                        <div class="email-user">
                            <label for="emailUser">Email</label>
                            <input type="text" placeholder="Email" name="emailUser"/>
                        </div>
                        <div class="passwords">
                            <label for="passwords">Password</label>
                            <input type="password" placeholder="Password" name="lastName"/>
                        </div>
                    </div>
                    <input href="#" type="button" value="Forgot Password?" class="forgot-pass">
                    <input href="#" type="submit" value="Log in" class="submit-btn">
                    </form>
                </div>
            </div>
        </section>
    </main> 
</body>

<style>
    body {
        background-color: #C3E1FF;
    }
</style>

</html>