<!DOCTYPE html>

<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="/css/stylesPatient.css">
    <link href='https://fonts.googleapis.com/css?family=Lexend Deca' rel='stylesheet'>
    <html lang="en">
    <title>Patient Login</title>
    <!-- main layout for patient UI -->
</head>

            <nav class="nav_bar">
                    <a href="/about-dextrack"><img id="nav_logo" src="/logo.png"></a>
                    <ul class="nav_pages">
                        <li><a href="/about-dextrack">About DexTrack</a></li>
                        <li><a href="/about-diabetes">About Diabetes</a></li>
                        <li><a href="/"><button>Sign In</button></a></li>
                    </ul>
                </nav>

<form class="patient_login" action="/patient/login" method="post">
    <div>
        <h2>Email</h2>
        <input id="username" name="username" type="email" required/>
    </div>
    <div>
        <h2>Password</h2>
        <input id="password" name="password" type="password" required />
    </div>
    <div>
        <button type="submit" value="submit">Log In</button>
    </div>
</form>

{{#each flash}}
<p class="alert">{{this}}</p>
{{/each}}