<!-- Navigation bar at top of webpage -->
<div class="navbar">
    <div class="dropdown">
        <button class="dropbtn">Dr. Alice Brown <img src="/chevron-down.png"></button>
        <div class="dropdown-content">
            <a href="#">Patient comments</a>
            <a href="#">Sign out</a>
        </div>
    </div>
    <div class="icons">
        <a href="#"><img src="/house-solid.svg" width="28" height="28" class="change-color"></a>
        <a href="#"><img src="/circle-half-stroke-solid.svg" width="28" height="28" class="change-color"></a>
        <a><img src="/Line.png" height="28"></a>
        <a href="#"><img src="/circle-user-regular.svg" width="28" height="28" class="change-color"></a>
    </div>
</div>

<ul class="breadcrumb">
  <li><a href="#">Patient list</a></li>
  <li>Patient comments</li>
</ul>

<div class="section">
    <section class="patientComments">
        <h4>Patient comments</h4>
        <div class="patient-comments">
            <div class="sticky-bar"></div>
            <div class="scroll">
                <button class="entry accordion">
                    <div class="data" id="overflow"><span class="attribute">Patient</span><br><strong>Ana Sergawa</strong></div>
                    <div class="data"><span class="attribute">Date/Time</span><br><strong>20 March, 11am</strong></div>
                    <div class="data" id="overflow"><span class="attribute">Comment</span><br><strong>I feel bloated.</strong></div>
                    <img src="/chevron-down-solid.svg" height="30px">
                </button>
                <div class="entry panel">
                    <p><span class="attribute">Comment</span><br><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit Lorem ipsum dolor sit amet, consectetur adiasdjfh asduh kajdhsf kadsjhf skjdhf kspisicing elit Lorem ipsum dolor sit amet, consectetur adipisici</strong></p>
                </div>
            </div>
        </div>
    </section>
</div>