<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="sign-in-styles.css">
</head>
<body>
    <main>
        <img src="clouds-02.png" class="cloud-bg">
        <section class="sign-in">
        <h4>Sign in</h4>
        <br>
            <div class="row">
                <div class="container">
                    <form action="/home/clinician/signin" method="POST">

                    <div class="as-patient" href="#">
                        <a href="#"><img src="patient-icon.png"></a>
                        <input href="#" type="button" value="As Patient" class="as-btn"
                        <h5>As Patient</h5>

                    </div>
                    <div class="as-clinician" href="#">
                        <a href="#"><img src="clinician-icon.png"></a>
                        <h5>As Clinician</h5>
                    </div>
                    </form>
                </div>
            </div>
        </section>
    </main> 
</body>
</html>