/* body structure */

header, body, footer, button, input, textarea {
    font-family: Lexend Deca;
}

body {
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
}

.navbar {
    width: 100%;
    overflow: auto;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 20px;
    
}

.row-2:after, .row-3:after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn {
    float: left;
    width: 75%;
  }

.rightcolumn {
    float: left;
    width: 25%;
}

@media screen and (max-width: 500px) {
    .leftcolumn, .rightcolumn {
      width: 100%;
      padding: 0;
    }
}

.scroll {
    overflow: auto;
    height: 700px;
}

.entry {
    padding: 20px;
    font-size: medium;
    width: 1300px;
    height: 150px;
    border-radius: 36px;
    border-width: 0;
    background: white;
    margin:auto; 
    display:block;
    margin-bottom: 20px;
}

.patientComments, .clinicianNotes {
    padding-top: 0px;
}

.patientComments h4, .clinicianNotes h4 {
    color: #2C68AD;
    font-size: 30px;
    font-weight:400;
    margin-left: 30px;
    margin-bottom: 20px;
}

.leftcolumn .segment {
    background-color:#F2F2F2;
    float: left;
    height: 660px;
    width: 100%;
    border-radius: 36px;
    border: 0px;
    padding: 20px;
}

.segment h3 {
    font-size: 25px;
    color: #2C68AD;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 0px;
    background: #F2F2F2;
    border-radius:  36px;
}

.accordion {
    padding: 20px;
    margin-bottom: 20px;
    width: 95%;
    height: 130px;
    border-radius: 36px;
    border-width: 3px;
    background: white;
}

.data {
    font-family: Lexend Deca;
    font-size: 18px;
    float: left;
    width: 25%;
    line-height: 40px;
    text-align: left;
    margin-left: 30px;
    display: block;
}

#overflow.data {
    width: 260px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}


/* buttons */

button {
    cursor: pointer;
}

.blue-button {
    overflow: hidden;
    float: right;
    margin-right: 20px;
}

.blue-button .dropbtn {
    font-size: 16px;
    color: #FCF5ED;
    background: #2C68AD;
    padding: 4.5px 20px 4.5px 20px;
    border: 0px;
    border-radius:  36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.orange-button {
    overflow: hidden;
    float: right;
    font-size: 16px;
    color: #FCF5ED;
    background: #FB6E5A;
    padding: 4.5px 20px 4.5px 20px;
    border: 0px;
    border-radius:  36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.patientList, .clinician-notes, .patient-comments {
    background-color:#E6F2FE;
    border-radius:  36px;
    border: 0px;
    height: 800px;
}

.sticky-bar {
    background: #E6F2FE;
    height: 40px;
    border-radius:  36px;
    margin-bottom: 10px;
    padding-right: 20px;
}


/* patient list */

.patientList .scroll p{
    text-align: center;
    font-size: large;
    font-size: 20px;
}

.search-bar {
    float: right;
    margin-right: 20px;
    background: white;
    border-radius: 15px;
    width: 190px;
    padding: 3px 20px 3px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-bar label{
    vertical-align:middle;
}

.search-bar input {
    border-width: 0px;
}

.sort-by {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sort-by a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sort-by a:hover {
    background-color: #ddd;
}

#sort.blue-button:hover .sort-by {
    display: block;
}


/* patient comments */

.patient-comments {
    background-color:#F2F2F2;
}

.patient-comments .sticky-bar {
    background: #F2F2F2;
    height: 50px;
}

.patient-comments a, .clinician-notes a {
    float: right;
    margin-right: 20px;
}

.patient-comments #overflow.data {
    width: 380px;
}


/* patient profile */

.profile {
    background-color:#E6F2FE;
    border-radius: 36px;
    border: 0px;
    display: flex;
    padding: 30px;
}

.col {
    float: left;
    width: 20%;
    line-height: 30px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#overflow.col {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

span.attribute {
    font-size: 16px;
}


/* patient log */

.date {
    border-radius:  36px;
    align-items: center;
    overflow: auto;
    margin-bottom: 20px;
}

.date h4 {
    font-size: 16px;
    font-weight: 400;
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-right: 50px;
}

.entries {
    margin-left: 129px;
    margin-right: 20px;
    height: 550px;
}


/* graphs */

.graphs {
    width: 320px;
    float: right;
}

.card{
    border-radius: 23px;
    border-width: 3px;
    height: 168px;
    width: 320px;
    background: white;
    position: relative;
    margin-bottom: 10px;
}


/* thresholds */

#thresholds.segment {
    height: fit-content;
    padding-top: 30px;
    padding-bottom: 30px;
}

.threshold {
    float: left;
    width: 25%;
    margin-bottom: 20px;
    font-size: 18px;
}

.threshold h4 {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 22px;
}

.container {
    border-width: 3px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    margin-right: 20px;
}

.upper{
    padding-bottom: 20px;
    line-height: 30px;
}

.lower {
    line-height: 30px;
}

#thresholds.segment button{
    border: none;
    background: #2C68AD;
    width: 100px;
    height: 50px;
    cursor: pointer;
    font-size: 17px;
    text-align: center;
    border-radius:  20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit;
    margin:auto; 
    display:block;
}


/* message */

.rightcolumn .message {
    background-color:#E6F2FE;
    float: right;
    height: 425px;
    width: 80%;
    border-radius: 36px;
    border: 0px;
}

.message h4 {
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 16px;
    color: #2C68AD;
    font-weight: 400;
    position: absolute;
}

.prev-msg {
    border-radius: 1.15rem;
    line-height: 1.25;
    overflow: scroll;
    padding: 0.5rem .875rem;
    position:absolute;
    background-color: #248bf5;
    color: #fff; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: -apple-system, 
    BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
    font-weight:normal;
    font-size: 14px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    height: 60px;
    width: 250px;
}

.message textarea {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 145px;
    padding: 10px;
    border-radius: 15px;
    border-width: 1px;;
    width:250px;
    height: 200px;
}

#send.orange-button {
    margin-right: 27px;
    margin-top: 10px;
}


/* clinician notes */

.clinician-notes {
    padding-top: 20px;
    padding-bottom: 20px;
}
.patient .toggle-down {
    float: right;
    margin-right: 30px;
}

.clinician-notes #overflow.data {
    width: 800px;
}


/* navigation bar */

.icons {
    float: right;
    padding-top: 40px;
}
.icons a {
    margin-right: 20px;
}

.change-color {
    filter: invert(33%) sepia(95%) saturate(583%) hue-rotate(178deg) brightness(89%) contrast(89%);
  } 

.dropdown {
    overflow: hidden;
    float: right;
    padding-right: 40px;
    padding-top: 40px;
}

.dropdown .dropbtn {
    font-size: 20px;
    color: #FCF5ED;
    background: #2C68AD;
    padding: 3px 20px 3px 20px;
    border: 0px;
    border-radius:  36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* breadcrumb */

ul.breadcrumb {
      padding: 10px 16px;
      list-style: none;
      margin-left: 200px;
}

ul.breadcrumb li {
    display: inline;
    color: #2C68AD;
    font-size: 40px;
    font-weight:400;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #2C68AD;
    content: ">\00a0";
    font-weight:500;
}

ul.breadcrumb li a {
    text-decoration: underline;
    color: #2C68AD;
    font-weight: 500;
}


/* footer */

footer {
    padding: 5em;
    text-align: center;
    background-color:#2C68AD;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

footer h6 {
    font-size: 15px;
    font-weight: 400;
}
  
