/* body structure */

header, body, footer, button, input, textarea {
    font-family: Lexend Deca;
}

body {
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
}

.navbar {
    width: 100%;
    overflow: auto;
}

section {
    padding: 30px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 20px;
    
}

.scroll {
    overflow: auto;
    height: 700px;
    padding-left: 100px;
    padding-right: 100px;
}

.patientList, .clinician-notes, .patient-comments {
    background-color:#E6F2FE;
    border-radius:  36px;
    border: 0px;
    height: 800px;
}

.sticky-bar {
    background: #E6F2FE;
    height: 40px;
    border-radius:  36px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.entry {
    padding: 20px;
    font-size: medium;
    height: 150px;
    border-radius: 36px;
    border-width: 0;
    background: white;
    margin-bottom: 20px;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis; 
}

button.entry {
    width: 100%;
}

.patientComments, .clinicianNotes {
    padding-top: 0px;
}

.patientComments h4, .clinicianNotes h4 {
    color: #2C68AD;
    font-size: 30px;
    font-weight:400;
    margin-left: 30px;
    margin-bottom: 20px;
}

.segment {
    background-color:#F2F2F2;
    height: 660px;
    border-radius: 36px;
    border: 0px;
}

.segment h3 {
    font-size: 30px;
    color: #2C68AD;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 0px;
}

.segment .sticky-bar {
    background: #F2F2F2;
}

.accordion {
    padding: 20px;
    margin-bottom: 20px;
    width: 99.99%;
    height: 130px;
    border-radius: 36px;
    border-width: 3px;
    background: white;
    display: flex;
}

.accordion img {
    height: 30px;
    float: right;
}

.panel {
    padding: 20px 50px 20px 50px;
    display: none;
    background: white;
    overflow: hidden;
    margin-top: -60px;
    margin-bottom: 20px;
    border-radius: 0 0 36px 36px;
    border: 3px solid;
    border-top-width: 0px;
    font-size: 18px;
    line-height: 40px;
}

.data {
    font-family: Lexend Deca;
    font-size: 18px;
    float: left;
    width: 25%;
    line-height: 40px;
    text-align: left;
    margin-left: 30px;
    display: block;
}

#overflow.data {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.buttons {
    padding: 0px;
}


/* buttons */

button {
    cursor: pointer;
}

.blue-button {
    overflow: hidden;
    float: right;
    margin-right: 20px;
}

.blue-button .dropbtn {
    font-size: 16px;
    color: #FCF5ED;
    background: #2C68AD;
    padding: 4.5px 20px 4.5px 20px;
    border: 0px;
    border-radius:  36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.orange-button {
    overflow: hidden;
    float: right;
    font-size: 16px;
    color: #FCF5ED;
    background: #FB6E5A;
    padding: 4.5px 20px 4.5px 20px;
    border: 0px;
    border-radius:  36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.view {
    width: 49%;
    border-radius: 22px;
    font-size: 16px;
    text-decoration: underline;
}

#clinician-notes.view {
    border-color: #2C68AD;
    background: #F2F2F2;
    border-width: 3px;
}

#send-message.view {
    background: #2C68AD;
    border-width: 3px;
    border-color: #2C68AD;
    color: white;
    float: right;
}


/* patient list */

.patientList .scroll p{
    text-align: center;
    font-size: large;
}

.search-bar {
    float: right;
    margin-right: 20px;
    background: white;
    border-radius: 15px;
    width: 190px;
    padding: 3px 20px 3px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-bar label{
    vertical-align:middle;
}

.search-bar input {
    border-width: 0px;
}

.sort-by {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sort-by a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sort-by a:hover {
    background-color: #ddd;
}

#sort.blue-button:hover .sort-by {
    display: block;
}

#search-img {
    height: 16px;
}
/* patient comments */

.patient-comments {
    background-color:#F2F2F2;
}

.patient-comments .sticky-bar {
    background: #F2F2F2;
    height: 50px;
}

.patient-comments #overflow.data {
    width: 415px;
}

.patient-comments .accordion {
    border-width: 0;
}

.patient-comments .panel {
    width: auto;
    height: auto;
    border-width: 0;
}

/* patient profile */

.profile {
    background-color:#E6F2FE;
    border-radius: 36px;
    border: 0px;
    display: flex;
    padding: 30px;
}

.col {
    float: left;
    width: 20%;
    line-height: 30px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis; 
}

#overflow.col {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

span.attribute {
    font-size: 16px;
}


/* patient log */

.date {
    border-radius:  36px;
    align-items: center;
    margin-bottom: 20px;
    overflow: auto;
    height: 600px;
}

.date h4 {
    font-size: 16px;
    font-weight: 400;
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-right: 50px;
}

.entries {
    margin-left: 129px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-right: 50px;
}


/* graphs */

#graphs.segment {
    padding: 0px;
    background: none;
    height: auto;
}

#graphs.segment .row{
    align-items: center;
    display: flex;
    height: auto;
    margin-bottom: 40px;
}

.card{
    border-radius: 40px;
    border: 3px solid;
    background: white;
    float: left;
    margin-right: 60px;
    width: 49%;
    height: 50px;
}

#right-weight.card {
    margin-right: 0px;
    float: right;
    border-color: #55B48B;
}

#right-insulin.card {
    margin-right: 0px;
    float: right;
    border-color: #FF9D47
}


/* thresholds */

#thresholds.segment {
    height: fit-content;
    padding: 40px;
}

.threshold {
    float: left;
    width: 25%;
    margin-bottom: 30px;
    font-size: 18px;
}

.threshold h4 {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 25px;
}

.container {
    border: 3px solid;
    background: white;
    padding: 30px;
    border-radius: 30px;
    margin-right: 20px;
    font-size: 22px;
}

#exercise.container {
    margin-right: 0px;
}

.upper{
    padding-bottom: 30px;
    line-height: 40px;
}

.lower {
    line-height: 40px;
}

#thresholds.segment button{
    border: none;
    background: #2C68AD;
    width: 100px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:auto; 
    display:block;
}

#thresholds.segment button a {
    color: white; 
    text-decoration:none; 
    font-weight: 500;
}


/* message */

#message.segment {
    background-color:#E6F2FE;
    padding: 50px;
}

.prev-msg {
    border-radius: 1.15rem;
    line-height: 1.25;
    overflow: scroll;
    padding: 20px;
    background-color: #248bf5;
    color: #fff; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 22px;
    height: 100px;
    margin-bottom: 20px;
}

.prev-msg strong {
    font-size: 18px;
}

#message.segment textarea {
    padding: 20px;
    border-radius: 15px;
    border-width: 1px;
    font-size: 22px;
    height: 330px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
}

#send.orange-button {
    font-size: 22px;
}


/* clinician notes */

.clinician-notes {
    padding-top: 20px;
    padding-bottom: 20px;
}
.patient .toggle-down {
    float: right;
    margin-right: 30px;
}

.clinician-notes #overflow.data {
    width: 800px;
}


/* colors */

#glucose {
    border-color: #E13D45;
}

#weight {
    border-color: #6F62D0;
}

#insulin {
    border-color: #FF9D47;
}

#exercise {
    border-color: #55B48B;
}

#glucose_text {
    color: #E13D45;
}

#weight_text {
    color: #6F62D0;
}

#insulin_text {
    color: #FF9D47;
}

#exercise_text {
    color: #55B48B;
}


/* accordion */


/* navigation bar */

.icons {
    float: right;
    padding-top: 40px;
}
.icons a {
    margin-right: 20px;
}

#icon {
    width: 28px;
    height: 28px;
}

#nav-line {
    height: 28px;
}
.change-color {
    filter: invert(33%) sepia(95%) saturate(583%) hue-rotate(178deg) brightness(89%) contrast(89%);
  } 

.dropdown {
    overflow: hidden;
    float: right;
    padding-right: 40px;
    padding-top: 40px;
}

.dropdown .dropbtn {
    font-size: 20px;
    color: #FCF5ED;
    background: #2C68AD;
    padding: 3px 20px 3px 20px;
    border: 0px;
    border-radius:  36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a, #sign-out {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
#sign-out {
    border: 0;
    width: 100%;
    background: none;
    font-size: 16px;
}

.dropdown-content a:hover, #sign-out:hover{
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* breadcrumb */

ul.breadcrumb {
      padding: 10px 16px;
      list-style: none;
      margin-left: 200px;
}

ul.breadcrumb li {
    display: inline;
    color: #2C68AD;
    font-size: 40px;
    font-weight:400;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #2C68AD;
    content: ">\00a0";
    font-weight:500;
}

ul.breadcrumb li a {
    text-decoration: underline;
    color: #2C68AD;
    font-weight: 500;
}


/* sign out modal */
.modal-sign-out {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* footer */

footer {
    padding: 5em;
    text-align: center;
    background-color:#2C68AD;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

footer h6 {
    font-size: 15px;
    font-weight: 400;
}