header, body, footer { 
    font-family: Lexend Deca; 
    margin: 0px;
} 

body {
    min-height: 100vh
}

main, section, aside{
    margin: 0;
    color: #ffffff;
}

h1, h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
}


.main {
    background: #ffffff;
    flex: 1;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
}

.main h2 {
    color: #2C68AD;
    font-size: 20px;
}

.main h1 {
    color: #000000;
    font-size: 48px;
}

.dashboardInformation {
    margin-left: 40px;
}

.inputContainer {
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.inputContainer img {
    width: 80%;
}

.Glucose, .Exercise, .Weight, .Insulin {
    position: relative;
    display: inline-block;
}

.inputContainer h2 {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.8vw;
    font-weight: 100;
}

.Glucose h2  {
    color:#e13d45;
}

.Exercise h2  {
    color:#66b48b;
}

.Weight h2  {
    color:#6f62d0;
}

.Insulin h2  {
    color:#ff9d47;
}


footer {
    color: #FFFFFF;
    text-align: center;
    background-color:#2C68AD;
    padding-top: 100px;
    padding-bottom: 100px;
    position: fixed;
}

img[id="logo"] {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
}



/* Input Data */

.inputDataContainer {
    text-align: center;
}

.symbol img[id="element"] {
    margin-top: 50px;
    height: 150px;
    position: relative;
    top: 25%;
}

.symbol #title {
    top: 25%;
    position: relative;
    color: black;
    margin-bottom: 30px;
}

.inputDataItems {

    display: block;
}

.inputDataItems h2 {
    color: black;
    position: relative;
    top: 25%;
}

#labelData {
    top: 170px;
}

#labelNotes {
    top: 190px;
}

.inputDataItems #inputData {
    border-radius: 20px;
    border: 2px solid #2C68AD;
    height: 30px;
    width: 60%;
    padding: 8px;
    font-size: 15px;
    position: relative;
    top: 180px;
    margin-bottom: 30px;
    text-align: center;
}


.inputDataItems #inputNotes {
    border-radius: 20px;
    border: 2px solid #2C68AD; 
    height: 100px;
    width: 60%;
    padding: 10px;
    font-size: 15px;
    position: relative;
    top: 200px;
}

#doneButton {
    width: 40%;
    height: 30px;
    border-radius: 20px;
    position: relative;
    top: 280px;
    border: 2px solid #2C68AD; 
    background-color: #2C68AD;
    color: #FFFFFF;
    height: 30px;
    font-size: 20px;

}

/* leaderboard */

#leaderboardContainer {
	width: 350px;
	height: auto;
    margin: auto;
    margin-top: 50px;
}

.leaderboardTop {
    text-align: center;
    border-bottom: 1px solid #2c68ad;
}

#leaderboardImage {
    width: 80px;
}

#leaderboardText {
    color: #2c68ad;
    font-size: 20px;
}

.row {
	position: relative;
	display: block;
	width: 90%;
	height: 80px;
    margin-top: 10px;
    color: #2c68ad;
    font-size: 20px;
}

#rankImage {
    position: relative;
	display: inline-block;
	width: 25%;
    top: 30%;
}

.name {
	position: relative;
	display: inline-block;
	width: 65%;
	line-height: 70px;
}

.score {
	position: relative;
	display: inline-block;
	width: 5%;
}

/* patient log */

.logContainer {
	display: flex;
	flex-direction: column;

}

.singleLog {
	flex: 50px;
	padding: 10px;
	width: 300px;
}

#logDate {
	font-size: 20px;
	color: #2c68ad;
}

.logBox {
	width: 90%;
	height: 30px;
	background: #E4EFFE;
	border-radius: 25px;
	white-space: nowrap;
	margin-bottom: 10px;
}

#dataImage {
	padding-top: 5px;
	height: 20px;
	padding-left: 10px;
	display: inline-block;
}

#logTime {
	color: #2c68ad;
	padding-left: 10px;
	font-size: 16px;
	font-weight: lighter;
	display: inline-block;
	margin: 0px;
  
}

#logData {
	color: hsl(212, 59%, 43%);
	padding-left: 15px;
	font-size: 16px;
	display: inline-block;
	margin: 0px;
}

@media (min-width: 1024px) {
	.logContainer {
		flex-direction: row;
	}

	.logBox {
		max-width: 290px;
	}
}


label {
    margin: 0 20px 0 0;
    font-size: 36px;
    line-height: 60px;
    color:#2C68AD;
    position: fixed;
    right: 15px;
    top: 50px;
    z-index: 1;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 2; 
    right: 0;
    top: 0;
    background: #f9f9f9;
    overflow-x: hidden; 
    transition: 0.5s; 
  }

.menu {
    position: relative;
    top: 20%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
  }
  
  .sidebar a {
    text-align: right;
    text-decoration: none;
    color: #2C68AD;
    display: block;
    transition: 0.3s;
    padding: 0 20px 3px 0;
    font-size: 24px;
  }
  
  .sidebar a:hover, .sidebar a:focus {
    color: #000000;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 40px;
    font-size: 60px;
    right: 20px;
  }


@media screen and (min-width: 1024px) {
    .inputDataContainer {
        display: flex;
    }

    .symbol {
        flex: 1;
        /* Because the image is fixed, needs to use min height*/
        min-height: 700px;
    }

    .symbol img[id="element"] {
        height: 220px;
    }

    .inputDataItems {
        flex: 0 1 50%
    }
}


  
@media screen and (max-width: 1024px) {
    .main {
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .inputContainer {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 40% 40%;
    }

    .inputContainer img {
        margin-bottom: 60px;
    }

    .inputContainer h2 {
        top: 60%;
        font-size: 6.5vw;
    }
    
    .inputDataItems {
        height: 400px;
    }

    #labelData {
        top: 20px;
    }

    
    #labelNotes {
        top:30px;
    }
    
    .inputDataItems #inputData {
        top: 30px;
        
    }
    
    .inputDataItems #inputNotes {
        top: 40px;
    }
    
    #doneButton {
        top: 80px;
    }

    .logContainer {
        align-items: center;
    }

}

@media screen and (max-width: 375px) {

    .main {
        margin-top: 50px;
    }

    .inputContainer {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .inputContainer img {
        margin-bottom: 40px;
    }

    .inputContainer h2 {
        top: 47%;
        font-size: 10vw;
    }

}