header, body{ 
    font-family: Lexend Deca; 
    margin: 0px;
} 

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    color: #ffffff;
}

main, section, aside{
    margin: 0;
    color: #ffffff;
}

/* navigation bar */

img[id="nav_logo"] {
    top: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: 60px;
    z-index: 2;
    padding: 20px;
    margin-left: 20px;
}


.nav_bar, .nav_pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav_pages {
    list-style: none;
}

.nav_pages li, .nav_pages button { 
    font-weight: 600;
    font-size: 20px;
    padding: 0 1.5em;
}

.nav_pages li a {
    transition: all 0.5s ease 0s;
}

.nav_bar button {
    background-color:#2C68AD;
    padding: 10px 30px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    color: #FFFFFF;
    font-size: 20px;
}

.nav_bar a#pull, .menu1 {
    display: none;
}


.nav_bar button:hover {
    background-color:#FB6E59;
}

button:hover {
    background-color:#2C68AD;
}

.nav_pages li a:hover {
    color: #2C68AD;
}

li, a, button {
    font-family: Lexend Deca;
    color: black;
    text-decoration: none;
}


.patient_login {
    margin: 10vh 0;
    text-align: center;
}

.patient_login button {
    margin-top: 20px;
}


h1, h2 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.container {
    display: flex;
}


.main {
    background: var(--white);
    flex: 1;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 30px;
}

.main h2 {
    color: var(--darkBlue);
    font-size: 20px;
}

.main h1 {
    color: var(--black);
    font-size: 48px;
}

#date h2 {
    text-align: left;
}
/*dashboard*/

@media (max-width: 1024px) {
    
    .engagementContainer {
        max-width: 500px;
        width: 90%;
        top: 10px;
        position: relative;
        margin: auto;
        height: 150px;
        border-radius: 20px;
        background-color: var(--lightBlue);
    }

    .slides {
        display: none;
    }

    #engagementSlide {
        width: 100%;
    }

    .engagementScore {
        float: left;
        width: 30%;
        text-align: center;
    }

    #badgeImage {
        position: relative;
        display: inline-block;
        width: 100px;
        top: 24px;

    }

    #engagementScoreValue {
        color: white;
        font-size: 30px;
        position: absolute;
        top: 50px; 
        transform: translateX(175%)
        }

    .engagementDescription {
        float: left;
        width: 70%;
    }

    #engagementScoreText {
        padding-left: 20px;
        color: var(--darkBlue);
        font-size: 18px;
        padding-top: 5px;
    }

    #engementScoreDescription {
        color: var(--darkBlue);
        font-size: 16px;
        padding-right: 5px;
        margin-top: 0px;
    }

    .clinicianImage {
        float: left;
        width: 30%;
        text-align: center;
    }

    #clinicianVectorImage {
        position: relative;
        display: inline-block;
        height: 110px;
        top: 18px;

    }

    .clinicianMessage {
        float: left;
        width: 70%;
    }

    #yourClinicianSaysText {
        padding-left: 20px;
        color: var(--black);
        font-size: 18px;
        padding-top: 5px;
    }

    #clinicianMessageText {
        padding-left: 20px;
        color: var(--black);
        font-size: 16px;
        padding-top: 5px;
        padding-right: 20px;
    }

    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: var(--lightBlue);
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
        background-color: var(--darkBlue);
    }

      /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 1.5s;
    }
    
    @keyframes fade {
        from {opacity: .4}
        to {opacity: 1}
    }

}


.inputContainer {
    text-align: center;
    margin-top: 50px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.inputContainer img {
    width: 80%;
}

.Glucose, .Exercise, .Weight, .Insulin {
    position: relative;
    display: inline-block;
}

.inputContainer h2 {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.8vw;
    font-weight: 100;
}

.Glucose h2  {
    color:#e13d45;
}

.Exercise h2  {
    color:#66b48b;
}

.Weight h2  {
    color:#6f62d0;
}

.Insulin h2  {
    color:#ff9d47;
}


footer {
    color: #FFFFFF;
    text-align: center;
    background-color:#2C68AD;
    padding-top: 100px;
    padding-bottom: 100px;
    position: fixed;
}

img[id="logo"] {
    width: 50%;
    margin-top: 30px;
    margin-bottom: 20px;
}



/* Input Data */

.inputDataContainer {
    text-align: center;
}

.symbol img[id="element"] {
    margin-top: 50px;
    height: 150px;
    position: relative;
    top: 25%;
}

.symbol #title {
    top: 25%;
    position: relative;
    color: var(--black);
    margin-bottom: 30px;
}

.inputDataItems {

    display: block;
}

.inputDataItems h2 {
    color: var(--black);
    position: relative;
    top: 25%;
}

#labelData {
    top: 170px;
}

#labelNotes {
    top: 190px;
}

.inputDataItems #inputData {
    border-radius: 20px;
    border: 2px solid var(--darkBlue);
    height: 30px;
    width: 60%;
    padding: 8px;
    font-size: 15px;
    position: relative;
    top: 180px;
    margin-bottom: 30px;
    text-align: center;
}


.inputDataItems #inputNotes {
    border-radius: 20px;
    border: 2px solid var(--darkBlue); 
    height: 100px;
    width: 60%;
    padding: 10px;
    font-size: 15px;
    position: relative;
    top: 200px;
}

#doneButton {
    width: 42%;
    height: 35px;
    border-radius: 20px;
    position: relative;
    top: 280px;
    border: 2px solid var(--darkBlue); 
    background-color: var(--darkBlue);
    color: var(--white);
    height: 30px;
    font-size: 20px;

}

/* leaderboard */

#leaderboardContainer {
	width: 350px;
	height: auto;
    margin: auto;
    margin-top: 20px;
}

.leaderboardTop {
    text-align: center;
    border-bottom: 1px solid var(--darkBlue);
}

#leaderboardImage {
    width: 80px;
}

#leaderboardText {
    color: var(--darkBlue);
    font-size: 20px;
}

.row {
	position: relative;
	display: block;
	width: 90%;
	height: 80px;
    margin-top: 10px;
    color: var(--darkBlue);
    font-size: 20px;
}

#rankImage {
    position: relative;
	display: inline-block;
	width: 25%;
    top: 30%;
}

.name {
	position: relative;
	display: inline-block;
	width: 65%;
	line-height: 70px;
}

.score {
	position: relative;
	display: inline-block;
	width: 5%;
}
/* patient log */

.dashboardInformation {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 100px;
    color: var(--darkBlue);
}

.logContainer {
	display: flex;
	flex-direction: column;

}

.singleLog {
	flex: 50px;
	padding: 10px;
	width: 300px;
    border-radius: 20px;
    border: 1px solid var(--darkBlue); 
    margin: 5px 5px 5px 5px;
}

#logDate {
	font-size: 20px;
	color: var(--darkBlue);
    margin-bottom: 10px;
}

.logBox {
	min-width: 250px;
    width: 90%;
	height: 30px;
	background: #E4EFFE;
	border-radius: 25px;
	white-space: nowrap;
	margin-bottom: 10px;
}

#dataImage {
	padding-top: 5px;
	height: 20px;
	padding-left: 10px;
	display: inline-block;
}

#logTime {
	color: #2c68ad;
	padding-left: 10px;
	font-size: 16px;
	font-weight: lighter;
	display: inline-block;
	margin: 0px;
  
}

#logData {
	color:  #2c68ad;
	padding-left: 15px;
	font-size: 16px;
	display: inline-block;
	margin: 0px;
}

@media (min-width: 1024px) {


	.logContainer {
        flex-direction: row;
		flex-wrap: wrap;
        max-width: 90%;
	}

    .singleLog {
        width: 300px;
        flex-grow: 1;
       
    }

	.logBox {
		max-width: 290px;
	}
}

/*Sidebar*/

#themeToggle {
    width: 30px;
}

label {
    margin: 0 20px 0 0;
    font-size: 36px;
    line-height: 60px;
    color: var(--darkBlue);
    position: fixed;
    right: 15px;
    top: 50px;
    z-index: 1;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed; 
    z-index: 2; 
    right: 0;
    top: 0;
    background: var(--lightBlue);
    overflow-x: hidden; 
    transition: 0.5s; 
  }

textarea{
    resize: none;
    overflow: none;
}
.menu {
    position: relative;
    top: 20%; 
    width: 100%; 
    text-align: center; 
    margin-top: 30px;
  }
  
  .sidebar a {
    text-align: right;
    text-decoration: none;
    color: var(--darkBlue);
    display: block;
    transition: 0.3s;
    padding: 0 20px 3px 0;
    font-size: 24px;
  }
  
  .sidebar a:hover, .sidebar a:focus {
    color: #000000;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 40px;
    font-size: 60px;
    right: 20px;
  }


@media screen and (min-width: 1024px) {

    
    .inputDataContainer {
        display: flex;
    }

    .symbol {
        flex: 1;
        /* Because the image is fixed, needs to use min height*/
        min-height: 700px;
    }

    .symbol img[id="element"] {
        height: 220px;
    }

    .inputDataItems {
        flex: 0 1 50%
    }
}


  
@media screen and (max-width: 1024px) {

    .nav_pages {
        position: absolute;
        right: -100%;
        padding-left: 0;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
    }
    
    .nav_pages li {
        display: none;
    }
        
    .main {
        margin-top: 50px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .inputContainer {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 40% 40%;
        grid-template-rows: 40% 40%;
    }

    .inputContainer img {
        margin-bottom: 60px;
    }

    .inputContainer h2 {
        top: 60%;
        font-size: 6.5vw;
    }
    
    .inputDataItems {
        height: 400px;
    }

    #labelData {
        top: 20px;
    }

    
    #labelNotes {
        top:30px;
    }
    
    .inputDataItems #inputData {
        top: 30px;
        
    }
    
    .inputDataItems #inputNotes {
        top: 40px;
    }
    
    #doneButton {
        top: 80px;
    }

    .logContainer {
        align-items: center;
    }

}

@media screen and (max-width: 375px) {

    .main {
        margin-top: 50px;
    }

    .inputContainer {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    .inputContainer img {
        margin-bottom: 40px;
    }

    .inputContainer h2 {
        top: 47%;
        font-size: 10vw;
    }

}

/* profile */

#yourProfile {
    color: var(--darkBlue);
    margin-left: 40px;
    margin-top: 100px;
}

@media screen and (max-width: 375px) {
    #yourProfile {
        margin-top: 50px;
    }
}

.patientCardContainer {
    padding-top: 20px;
    margin-bottom: 30px;
}


.patientCardBox {
    width: 83%;
    height: 600px;
    padding: 10px;
    border-radius: 25px;
    background: var(--lightBlue);
    margin: 0 auto;
    background-image: url("../fingerprint.png");
}

#fingerprintImage {
    position: absolute;
    width: 300px;
    z-index: 1;
    justify-self: center;
}


.patientCardBox h4, h5 {
    margin: 0px;
    z-index: 2;
    text-align: center;
}

.patientCardBox h4 {
    margin-top: 20px;
    color: var(--darkBlue);
    font-size: 38px;
}

.patientCardBox h5 {
    color: var(--darkBlue);
    font-size: 20px;
    font-weight: 200;
    margin-bottom: 30px;
}

.patientCardBox h3, p {
    color: var(--darkBlue);
    font-size: 16px;
    margin-left: 20px;
    z-index: 2;
}

.patientCardBox h3 {
    font-weight: 800;
    margin-bottom: 10px;
}

.patientCardBox p {
    font-weight: 200;
    margin-bottom: 30px;
}

.editableInformationContainer {
   text-align: center;
    
}

.currentShortBio {
    max-width: 60%;
    margin: 0 auto;
    color: var(--darkBlue);
    font-size: 20px;
    font-weight: 200;
}

.updateShortBioText {
    color: var(--darkBlue);
    font-size: 20px;
    font-weight: 600;
    margin-top: 30px;
}
    
#shortBio {
    border-radius: 20px;
    border: 3px solid var(--darkBlue); 
    height: 80px;
    width: 60%;
    padding-top: 8px;
    padding-left: 10px;
    font-size: 20px;
    font-family: Lexend Deca; 
}

#saveButton {
    margin-top: 30px;
    margin-bottom: 50px;
    width: 40%;
    max-width: 400px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--darkBlue); 
    background-color: var(--darkBlue);
    color: var(--white);
    height: 30px;
    font-size: 20px;
}

@media screen and (min-width: 1024px){
.profileContainer {
    display: flex;
}

.patientCardContainer {
    flex: 1;
}

.editableInformationContainer {
    padding-top: 150px;
    flex: 0 1 50%;
}
}

/* modal popup */

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s opacity 1s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.popup {
    width: 280px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 3, 0.2);
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h3 {
    font-size: 38px;
    margin: 30px 0px 10px;
    color: #2C68AD;
}

.popup p {
    font-size: 18px;
}

#ok-button.orange-button {
    width: 100%;
    padding: 10px 60px;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
}


/* set mode*/
:root {
    --white: #ffffff;
    --darkBlue: #2C68AD;
    --lightBlue: #E4EFFE;
    --black: #000000;
    }
    
    .dark-theme {
    --white: #0C131C;
    --darkBlue: #f9f9f9;
    --lightBlue: #5c636e;
    --black: #ffffff;
    }