/* set mode */
:root {
    --bg-color: white;
    --footer-color: #2C68AD;
    --blue-white: #2C68AD;
    --blue-white-hover: #165093;
    --blue-white-click: #0A3465;
    --white-color: white;
    --white-color-hover: #F4F4F4;
    --white-color-click: #E5E3E3;
    --blue-container: #E6F2FE;
    --entry-card: white;
    --entry-card-hover: #F4F4F4;
    --entry-card-active: #E5E3E3;
    --grey-container: #F2F2F2;
    --white-grey: white;
    --black-white: black;
    --navbar-icon: invert(33%) sepia(95%) saturate(583%) hue-rotate(178deg) brightness(89%) contrast(89%);
    --navbar-hover: invert(24%) sepia(77%) saturate(1096%) hue-rotate(186deg) brightness(91%) contrast(97%);
    --navbar-click: invert(15%) sepia(45%) saturate(3300%) hue-rotate(199deg) brightness(97%) contrast(92%);
}

.dark-theme {
    --bg-color: #0C131C;
    --footer-color: #272727;
    --blue-white: #E4E5E6;
    --blue-white-hover: #A9ABAC;
    --blue-white-click: #787B7C;
    --white-color: #E4E5E6;
    --white-color-hover:#A9ABAC;
    --white-color-click: #787B7C;
    --blue-container: #162945;
    --entry-card: #404F66;
    --entry-card-hover: #374458;
    --entry-card-active: #333F52;
    --grey-container: #5C636E;
    --white-grey: #DDDDDD;
    --black-white: #E4E5E6;
    --navbar-icon: invert(100%) sepia(1%) saturate(2453%) hue-rotate(175deg) brightness(91%) contrast(99%);
    --navbar-hover: invert(75%) sepia(6%) saturate(83%) hue-rotate(155deg) brightness(92%) contrast(86%);
    --navbar-click: invert(53%) sepia(5%) saturate(179%) hue-rotate(149deg) brightness(89%) contrast(81%);
}


/* body structure */

header, body, footer, button, input, textarea {
    font-family: Lexend Deca;
}

body {
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: var(--bg-color);
    transition: 0.3s;
}

.navbar {
    width: 100%;
    overflow: auto;
}

section {
    padding: 30px;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 20px;
    
}

.scroll {
    overflow: auto;
    height: 700px;
    padding-left: 100px;
    padding-right: 100px;
}

.patientList, .clinician-notes, .patient-comments {
    background-color: var(--blue-container);
    border-radius:  36px;
    border: 0px;
    height: 800px;
}

.sticky-bar {
    background: var(--blue-container);
    height: 40px;
    border-radius:  36px;
    margin-bottom: 10px;
    padding-right: 20px;
}

.entry {
    padding: 20px;
    font-size: medium;
    height: 150px;
    border-radius: 36px;
    border-width: 0;
    background: var(--entry-card);
    margin-bottom: 20px;
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis; 
}

button.entry {
    width: 100%;
}

button.entry:hover {
    background: var(--entry-card-hover);
}

button.entry:active {
    background: var(--entry-card-active);
}

.patientComments, .clinicianNotes {
    padding-top: 0px;
}

.patientComments h4, .clinicianNotes h4 {
    color: var(--blue-white);
    font-size: 30px;
    font-weight:400;
    margin-left: 30px;
    margin-bottom: 20px;
}

.segment {
    background-color:var(--grey-container);
    height: 660px;
    border-radius: 36px;
    border: 0px;
    overflow: hidden;
}

.segment h3 {
    font-size: 30px;
    color: var(--blue-white);
    font-weight: 400;
    margin-left: 10px;
    margin-top: 0px;
}

.segment .sticky-bar {
    background: var(--grey-container);
}

.accordion {
    padding: 20px;
    margin-bottom: 20px;
    width: 99.99%;
    height: 130px;
    border-radius: 36px;
    border-width: 3px;
    background: var(--white-grey);
    display: flex;
}

.accordion img {
    height: 30px;
    float: right;
    position: relative;
}

.panel {
    padding: 20px 50px 20px 50px;
    background: var(--white-grey);
    margin-top: -60px;
    margin-bottom: 20px;
    border-radius: 0 0 36px 36px;
    border: 3px solid;
    border-top-width: 0px;
    font-size: 18px;
    line-height: 40px;
    height: auto;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.data {
    font-family: Lexend Deca;
    font-size: 18px;
    float: left;
    width: 25%;
    line-height: 40px;
    text-align: left;
    margin-left: 30px;
    display: block;
}

#overflow.data {
    width: 500px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.buttons {
    padding: 0px;
}


/* buttons */

button {
    cursor: pointer;
}

.blue-button {
    overflow: hidden;
    float: right;
    margin-right: 20px;
}

.blue-button .dropbtn {
    font-size: 16px;
    color: var(--white-color);
    background: #2C68AD;
    padding: 4.5px 20px 4.5px 20px;
    border: 0px;
    border-radius:  36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.blue-button .dropbtn:hover {
    background: #165093;
}

.blue-button .dropbtn:active {
    background: #0D3E77;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
}

.orange-button {
    overflow: hidden;
    float: right;
    font-size: 16px;
    color: var(--white-color);
    background: #FB6E5A;
    padding: 4.5px 20px 4.5px 20px;
    border: 0px;
    border-radius:  36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.orange-button:hover {
    background: #F55842;
}

.orange-button:active {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
    background: #ED4831;
}

.view {
    width: 49%;
    border-radius: 22px;
    font-size: 16px;
    text-decoration: underline;
    overflow: hidden;
}

#clinician-notes.view {
    border-color: #2C68AD;
    background: var(--white-color);
    border-width: 3px;
}

#clinician-notes.view:hover {
    background: var(--white-color-hover);
}

#clinician-notes.view:active {
    background: var(--white-color-click);
}

#send-message.view {
    background: #2C68AD;
    border-width: 3px;
    border-color: #2C68AD;
    color: white;
    float: right;
}

#send-message.view:hover {
    background: #165093;
    border-color: #165093;
}

#send-message.view:active {
    background:  #0D3E77;
    background-color: #0D3E77;
}


/* patient list */

.patientList .scroll p{
    text-align: center;
    font-size: large;
}

.search-bar {
    float: right;
    margin-right: 20px;
    background: var(--white-color);
    border-radius: 15px;
    width: 190px;
    padding: 3px 20px 3px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.search-bar label{
    vertical-align:middle;
}

.search-bar input {
    border-width: 0px;
    background: var(--white-color);
}

.sort-by {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.sort-by a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.sort-by a:hover {
    background-color: #ddd;
}

#sort.blue-button:hover .sort-by {
    display: block;
}

#search-img {
    height: 16px;
}


/* patient register */

#register.segment {
    height: fit-content;
    overflow: auto;
}

#register.segment label {
    color: var(--black-white);
}

#register.segment input[type=text], [type=date], [type=password] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300px;
    font-style: normal;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background: var(--white-color);
}

.col-50 {
    -ms-flex: 50%;
    flex: 50%;
    padding: 30px 30px 10px 30px;
}

.fname, .lname {
    display: inline-block;
    margin-right: 30px;
}

.sex, .dob, .phone, .mstate, .occupation {
	display: inline-block;
    margin-right: 30px;
}

.address, .postcode {
    display: inline-block;
    margin-right: 30px;
}

.phone input, .occupation input, .email input, .fname input, .lname input {
    width: 200px;
}

.address input {
    width: 250px;
}

#register.segment button {
    font-size: 20px;
}


/* threshold register */

#threshold-form.segment {
    height: fit-content;
    overflow: auto;
    padding: 60px;
    padding-top: 80px;
    padding-bottom: 80px;
}

#threshold-form.segment input[type=text] {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    text-align: left;
    display: block;
    color: black;
    width: auto;
    font-size: 16px;
}

#threshold-form.segment .upper, #threshold-form.segment .lower, #threshold-form.segment .required {
    overflow: hidden;
}

#threshold-form.segment button {
    font-size: 25px;
    display: block;
}


/* patient comments */

.patient-comments {
    background-color: var(--grey-container);
}

.patient-comments .sticky-bar {
    background: var(--grey-container);
    height: 50px;
}

.patient-comments #overflow.data {
    width: 415px;
}

.patient-comments .accordion {
    border-width: 0;
}

.patient-comments .panel {
    width: auto;
    border-width: 0;
    display: block;
}

.patient-comments .panel .button-go {
    background:#2C68AD;
    color: white;
    font-size: 18px;
    border-radius: 10px;
    border-width: 0px;
    padding: 7px 12px 7px 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    float: right;
}

.patient-comments .panel .button-go:hover {
    background: #165093;
}

.patient-comments .panel .button-go:active {
    background: #0D3E77;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
}


/* patient profile */

.profile {
    background-color: var(--blue-container);
    border-radius: 36px;
    border: 0px;
    display: flex;
    padding: 30px;
}

.col {
    float: left;
    width: 20%;
    line-height: 30px;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis; 
    color: var(--black-white);
}

#overflow.col {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis; 
    white-space: nowrap;
}

span.attribute {
    font-size: 16px;
}


/* patient log */

.date {
    border-radius:  36px;
    align-items: center;
    margin-bottom: 20px;
    overflow: auto;
    height: 600px;
}

.date h4 {
    font-size: 16px;
    font-weight: 400;
    float: left;
    text-align: center;
    margin-left: 40px;
    margin-right: 50px;
    color: var(--black-white);
}

.entries {
    margin-left: 129px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-right: 50px;
    overflow: auto;
}


/* graphs */

#graphs.segment {
    padding: 0px;
    background: none;
    height: auto;
}

#graphs.segment .row{
    align-items: center;
    display: flex;
    height: auto;
    margin-bottom: 40px;
}

.card{
    border-radius: 40px;
    border: 3px solid;
    background: var(--white-color);
    float: left;
    margin-right: 60px;
    width: 49%;
    height: fit-content;
    overflow: auto;
}

#right-weight.card {
    margin-right: 0px;
    float: right;
    border-color: #6F62D0;
}

#right-exercise.card {
    margin-right: 0px;
    float: right;
    border-color: #55B48B;
}

.highcharts-figure {
  min-width: 360px;
  max-width: 800px;
  margin: 1em auto;
}

#container1, #container2, #container3, #container4 {
    border-radius: 20px;
}


/* thresholds */

#thresholds.segment {
    height: fit-content;
    padding: 40px;
}

.threshold {
    float: left;
    width: 25%;
    margin-bottom: 30px;
    font-size: 18px;
    overflow: auto;
}

.threshold h4 {
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 25px;
}

.container {
    border: 3px solid;
    background: var(--white-grey);
    padding: 30px;
    border-radius: 30px;
    margin-right: 20px;
    font-size: 22px;
    overflow: auto;
}

#exercise.container {
    margin-right: 0px;
}

.upper{
    padding-bottom: 30px;
    line-height: 40px;
}

.lower {
    line-height: 40px;
}

#thresholds.segment button{
    border: none;
    background: #2C68AD;
    width: 100px;
    height: 50px;
    font-size: 22px;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin:auto; 
    display:block;
}

#thresholds.segment button:hover {
    background: #165093;
}

#thresholds.segment button:active {
    background: #0D3E77;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0);
}

#thresholds.segment button a {
    color: white; 
    text-decoration:none; 
    font-weight: 500;
}


/* message */

#message.segment {
    background-color: var(--blue-container);
    padding: 50px;
    height: fit-content;
}

.prev-msg {
    border-radius: 1.15rem;
    line-height: 1.25;
    overflow: scroll;
    padding: 20px;
    background-color: #248bf5;
    color: #fff; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 22px;
    height: 100px;
    margin-bottom: 20px;
}

.prev-msg strong {
    font-size: 18px;
}

#message.segment textarea {
    padding: 20px;
    border-radius: 15px;
    border-width: 1px;
    font-size: 22px;
    height: 330px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    background: var(--white-color);
}

#send.orange-button {
    font-size: 22px;
}

#send.orange-button a{
    color: white;
    text-decoration: none;
}


/* clinician notes */

.clinician-notes {
    padding-top: 20px;
    padding-bottom: 20px;
}
.patient .toggle-down {
    float: right;
    margin-right: 30px;
}

.clinician-notes #overflow.data {
    width: 800px;
}

.clinician-notes #notes {
    border-width: 0;
}


/* clinician notes form */

#message.segment.clinician-form {
    color: var(--black-white);
}

#message.segment #notes {
    margin-top: 20px;
}


/* colors */

#glucose {
    border-color: #E13D45;
}

#weight {
    border-color: #6F62D0;
}

#insulin {
    border-color: #FF9D47;
}

#exercise {
    border-color: #55B48B;
}

#glucose_text {
    color: #E13D45;
}

#weight_text {
    color: #6F62D0;
}

#insulin_text {
    color: #FF9D47;
}

#exercise_text {
    color: #55B48B;
}

.change-color {
    filter: var(--navbar-icon);
} 

.change-color:hover {
    filter: var(--navbar-hover);
}

.change-color:active {
    filter: var(--navbar-click);
}

.change-blue {
    filter: invert(33%) sepia(95%) saturate(583%) hue-rotate(178deg) brightness(89%) contrast(89%);
}


/* navigation bar */

.icons {
    float: right;
    padding-top: 40px;
}
.icons a {
    margin-right: 20px;
}

#icon {
    width: 28px;
    height: 28px;
}

#nav-line{
    height: 28px;
}

.dropdown {
    overflow: hidden;
    float: right;
    padding-right: 40px;
    padding-top: 40px;
}

.dropdown .dropbtn {
    font-size: 20px;
    color: var(--white-color);
    background: #2C68AD;
    padding: 3px 20px 3px 20px;
    border: 0px;
    border-radius:  36px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a, #sign-out{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#sign-out {
    border: 0;
    width: 100%;
    background:none;
    font-size: 16px;
}

.dropdown-content a:hover, #sign-out:hover{
    background-color: #ddd;
}

.dropdown-content a:active, #sign-out:active{
    background-color: #BCBCBC;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/* breadcrumb */

ul.breadcrumb {
      padding: 10px 16px;
      list-style: none;
      margin-left: 200px;
}

ul.breadcrumb li {
    display: inline;
    color: var(--blue-white);
    font-size: 40px;
    font-weight:400;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: var(--blue-white);
    content: ">\00a0";
    font-weight:500;
}

ul.breadcrumb li a {
    text-decoration: underline;
    color: var(--blue-white);
    font-weight: 500;
}

ul.breadcrumb li a:hover {
    color: var(--blue-white-hover);
    text-decoration: none;
}

ul.breadcrumb li a:active {
    color: var(--blue-white-click);
}


/* splash screen */

.intro {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background: white;
    transition: 1s;
}

.logo-header {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: ease-in-out 0.5s;
}

.dextrack-logo {
    position: relative;
    display: inline-block;
    bottom: -20px;
    height: 130px;
}


/* modal popup */

.popup-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.7s opacity 1s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.popup {
    width: 400px;
    background: white;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color: black;
    visibility: hidden;
    transition: transform 0.3s, top 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 3, 0.2);
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup img {
    width: 100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.popup h3 {
    font-size: 38px;
    margin: 30px 0px 10px;
    color: #2C68AD;
}

.popup p {
    font-size: 18px;
}

#ok-button.orange-button {
    width: 100%;
    padding: 10px 60px;
    border: 0;
    outline: none;
    font-size: 20px;
    border-radius: 20px;
}


/* footer */

footer {
    padding: 5em;
    text-align: center;
    background-color: var(--footer-color);
    color: var(--white-color);
    margin-top: 50px;
    margin-bottom: auto;
}

footer h6 {
    font-size: 15px;
    font-weight: 400;
}