/* body structure */

header, body, footer {
    font-family: Lexend Deca;
}

body {
    color: black;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FFFFFF;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
}

.sections div {
    /* for blob behind navbar logo */
    z-index: 2;
}

/* navigation bar */

img[id="logo"] {
    top: 0;
    left: 0;
    position: absolute;
    width: auto;
    height: 60px;
    z-index: 2;
    padding: 20px;
    margin-left: 20px;
}

img[id="blob1"] {
    position: absolute;
    width: 75%;
    height: auto;
    z-index: 1;
    margin-top: 100px;
    margin-left: -350px;
}

.nav_bar, .nav_pages, .about_info, .about_products {
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.nav_pages {
    list-style: none;
}

.nav_pages li, .nav_pages button { 
    font-weight: 600;
    font-size: 20px;
    padding: 0 1.5em;
}

li, a, button {
    font-family: Lexend Deca;
    color: black;
    text-decoration: none;
}

.nav_pages li a {
    transition: all 0.5s ease 0s;
}

.nav_bar button {
    background-color:#2C68AD;
    padding: 10px 30px;
}

.nav_bar a#pull, .menu {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* overlap between the 2 html */

button {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    color: #FFFFFF;
    font-size: 2vh;
    background-color: #FB6E59;
    padding: 10px 20px;
}

p {
    text-align: left;
    font-size: 2.5vh;
    line-height: 25px;
}

/* About Diabetes*/

/* all section css */

.content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

/* specific section css */

.content_1 {
    background-color: #F2F2F2;
}

.content_1 .texttitle {
    padding-right: 50px;
}

.content_bg {
    /* content size with blob background is smaller */
    width: 70% !important;
}

.text_bg {
    padding-left: 0px;
    width: 40%
}

.content_diabetes {
    padding-top: 180px;
    padding-bottom: 180px;
    background-size: contain;
    background-color: #C4D9ED;
    background-repeat: no-repeat;
    background-position: center;
    height: auto;
}

/* bg image for specific sections */
.diabetes1 {
    background-image: url("rsc/bg_content3.png");
}

.diabetes2 {
    background-image: url("rsc/bg_content4.png");
}

.gestational_diabetes {
    background-image: url("rsc/bg_content5.png");
}

/* resource content class tag */
.video_content {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.video_content video {
    width: 100%;
    height: 100%;
}

.video_content iframe {
    width: 100%;
    height: 350px;
    object-fit: contain;
}

.image_content {
    display: flex;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image_content img {
    display: flex;
    width: 100%;
    object-fit: contain;
}

/* information text class tag */
.texttitle {
    width: 50%;
    height: 100%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    font-family: Lexend Deca;
    padding-left: 50px;
}

.titlestart {
    font-style: bold;
    font-size: 3.3vh;
}

.subtitle {
    color: #2D68AD;
    text-align: left;
    font-size: 2.8vh;
}
  

/* About DexTrack */


/* DexTrack Info */ 

.about_info {
    text-align: left;
    margin: 25px 50px;
}

.info_text {
    font-size: 15px;
    padding: 1em 3em;
}

.info_text h2 {
    font-size: 75px;
    font-weight: bolder;
    letter-spacing:1px;
    color: #2C68AD;
    line-height: 80px;
    margin: auto;
}

.info_vector {
    margin-left: 50px;
    margin-right: auto;
    padding: 1em;
}

.info_vector img {
    width: 95%;
    height: auto;
}


/* Products */

.about_products {
    margin: 50px 100px;
}

.product_vector {
    margin: auto;
    padding: 1em;
}

.product_vector img {
    width: 400px;
    height: auto;
}

.product_text {
    margin: auto;
    padding: 3em;
}

/* Profiles */

.about_profiles {
    margin: 50px;
    text-align: center;
    background-image: url("rsc/blob2.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 700px;
}

.about_profiles h3 {
    margin-top: -75px;
}

.profile_cards {
    margin: 0px auto -40px;
    list-style: none;
}

.profile_cards li {
    display: inline-block;
    min-width: 5em; 
    padding: 1em;
    margin: 20px;
}

.profile_cards img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #FB6E59;
    padding: 0.25em;
}

.profile_cards h4 {
    font-size: 20px;
    line-height: 5px;
    text-align: center;
}

.profile_cards p {
    text-align: center;
}

/* footer */

footer {
    padding: 2em;
    text-align: center;
    background-color:#2C68AD;
    color: #FFFFFF;
    margin-top: auto;
    margin-bottom: auto;
}

/* headings */

.labels {  
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 1px 0 #2C68AD;
    letter-spacing:2px;
    color: #2C68AD;
    text-align: center;
    margin: 100px 50px;
}

.labels:after {
    content: '';
    display: block;
    position: relative;
    width: 10%;
    border-bottom: 5px solid #FB6E59;
    margin: 10px auto;
    margin-bottom: -50px;
}

h3 {
    font-size: 20px;
    word-spacing: 2px;
    padding: 5px 0px;
    text-justify: inter-word;
}

/* hovers */

#top_button:hover {
    background-color: #555;
}

.nav_bar button:hover {
    background-color:#FB6E59;
}

button:hover {
    background-color:#2C68AD;
}

.nav_pages li a:hover {
    color: #2C68AD;
}

/* scroll to top button */

#top_button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #e13d45;
    color: white;
    cursor: pointer;
    padding: 0.75em;
    border-radius: 50px;
}

/* media screens */

@media screen and (max-width: 1024px) {
    
    /* navbar */
    /* note: the current menu of the navbar is static, javascript not implemented yet */
    .nav_pages {
        position: absolute;
        right: -100%;
        padding-left: 0;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
    }
    
    .nav_pages li {
        display: none;
    }
        
    .menu {
        display: block;
        cursor: pointer;
        padding: 2em;
    }

    /* About DexTrack */
    
    .about_info, .about_products {
        margin: auto 50px;
        flex-direction: column-reverse;
    }

    .about_products {
        text-align: center;
        justify-content: center;
    }

    .about_profiles {
        background-image: none;
    }

    .about_profiles h3 {
        margin-top: 75px;
    }

    .labels {
        margin: 200px auto 50px;
    }
}

@media screen and (max-width: 375px) {

    /* About Diabetes */

    .titlestart {
        font-size: 1.5vh;
        padding-bottom: 0px;
    }

    .texttitle {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .texttitle p {
        font-size: 1.3vh;
        padding-bottom: 3px;
    }

    .subtitle {
        font-size: 1.3vh;
    }

    button {
        font-size: 1.3vh;
    }

    .content_bg {
        width: 100% !important;
    }

    .text_bg {
        width: 50% !important;
    }

    .content_diabetes {
        padding-top: 50px;
        padding-bottom: 50px;
        background-size: auto 100%;
    }

    .video_content iframe {
        width: 180px;
        height: 130px;
    }

    .content_left {
        display: flex;
        flex-direction: column-reverse;
    }

    .content_right {
        display: flex;
        flex-direction: column;
    }

    /* About DexTrack */

    img[id="logo"] {
        padding-left: 0;
        height: 50px;
    }

    .about_info, .about_products{
        margin: auto -20px 50px;
    }

    .product_vector img {
        width: 70%;
    }

    .info_text h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .profile_cards{
        padding-left: 0;
    }

    .about_profiles h3 {
        font-size: 12px;
    }
}