@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap'); 

/*
red: #FB6E59
blue: #2C68AD
light blue: #E4FFE
white: #FFFFFF
*/

/*
• Phone: 375 x 812 (iPhone X, portrait)
• Tablet: 1024 x 768 (iPad, landscape)
• Desktop: 1920 × 1080 (monitor, landscape)
*/

body, html
{margin: 0;
padding: 0;
width:100%;
background-color: white;
font-family: 'Montserrat', sans-serif;
}

li, a, button{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.nav_bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    
}

.nav_pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav_pages li {
    z-index: 1;
    padding: 0px 30px;
}

.nav_pages li a {
    transition: all 0.5s ease 0s;
}

.nav_pages li a:hover {
    color: grey;
    text-decoration-line: underline;
}

button {
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    padding: 10px 50px;
    color: #FFFFFF;
}

.nav_bar button {
    background-color:#2C68AD;
}



/*  */


h1 {  
    font-size: 60px;
    font-weight: bolder;
    text-shadow: 1px 0 #2C68AD;
    letter-spacing:2px;
    color: #2C68AD;
    text-align: center;
    margin-top: 150px;
    margin-bottom: -80px;
}

h1:after{
    content: '';
    display: block;
    position: relative;
    width: 10%;
    border-bottom: 5px solid #FB6E59;
    margin: 10px auto;
}

h2 {
    font-size: 20px;
    margin: 5%;
}

h3, h3 a{
    font-size: 15px;
    word-spacing: 4px;
    padding: 5px 0px;
    text-justify: inter-word;
}

h3 a {
    text-decoration-line: underline;
    font-weight: bolder;
    color: #73C4CF;
}

/*  */

.sections div {
    z-index: 1;
}


.about_profiles h3{
    margin-top :100px;
    text-align: center;
}

.cards {
  list-style-type: none;
  margin: 50px 0px;
  padding: 0;
  text-align: center;
}

.cards li{
 display: inline-block;
  min-width: 5em;
  margin: 0 0.5em;
}

.cards a {
        text-decoration: none;
        display: block;
        font-family:Arial;
        color: black;
        padding:.5em 0;
}


p {
    font-size: 10px;
}

.cards img {
    border-radius: 50%;
    max-width: 60%;
}

.nav_bar a#pull
{display: none;
}

.nav_pages:before, .nav_pages:after
{content: " ";display: table;
}

.nav_pages:after 
{clear: both;
}

.menu {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


@media screen and (max-width: 1024px) {

    .nav_pages {
        position: absolute;
        right: -100%;
        padding-left: 0;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav_pages.active {
        right:0;
        background-color:#FB6E59;
        width: 600px;
        margin-right: 50px;
        padding: 5px 0px;
    }

    .nav_bar a{
        margin: 0 10px;
        align-items: center;
    }

    .nav_bar button{
        padding: 10px;
    }

    .menu {
        display: inline-block;
        cursor: pointer;
        padding: 20px;
    }

    .menu.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

.nav_bar:first-child {
    margin-left: 50px;
}

.about_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    margin: 100px 100px;
}

.vector img {
    width: 80%;
    height: auto;
    margin-left: 150px;
    margin-top: -50px;
}

.text button{
    font-size: 15px;
    background-color: #FB6E59;
    padding: 10px 35px;
}

.text h2 {
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 1px 0 #2C68AD;
    letter-spacing:2px;
    color: #2C68AD;
    margin: -10px 0px;
}

.text h3 {
    font-weight: bolder;
    font-size: 20px;
    text-shadow: 0.5px 0 black;
}

.text h4 {
    font-size: 15px;
    margin-top: -15px 0px;
}

img[id="blob1"]{
    position: absolute;
    width: auto;
    height: 800px;
    margin-top: -280px;
    margin-left: -100px;
}

img[id="logo"] {
    position: absolute;
    width: auto;
    height: 50px;
    margin-left: 50px;
    margin-top: -20px;
}

/* */

.about_products {
    display: flex;
    margin: 100px 20px;
    justify-content: space-between;
}

.vector2 {
    margin: -100px auto;
}

.vector2 img {
    width: auto;
}

img[id="blob2"]{
    height:600px;
    left: 50px;
    position:relative; 
}

img[id="phone"]{
    position:absolute; 
    height: 300px;
    left: 50px;
    margin-top: 250px;
}

img[id="mac"]{
    position:absolute; 
    left: 150px;
    margin-top: 150px;
    height: 400px;
}

.text2 {
    text-align: left;
    padding: 100px;
    margin: 10px auto;
    margin-left: 100px;
}

.text2 h3 {
    font-size: 15px;
    line-height: 25px;
}

.about_profiles {
    background-image: url("blob2.png");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: 700px 700px;
}

/*
img[id="blob3"]{
    position: absolute;
    width: auto;
    height: 1000px;
    transform: rotate(180deg);
    margin-top: -800px;
    right: 0;
    z-index: -1;
}
*/

button:hover {
    background-color: grey;
}